*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    display: grid;
    height: 100vh;
    /* en esta propiedad yo puedo definir el numero de columnas 
    que quiero mostrar auto va a toar el espacio libre y por 
    cada seccion que escriba es una columna */
    grid-template-columns: auto auto auto auto;
}
